<h1>Welcome to RetFlix!</h1>
<%= render 'search' %>
<h3>See our collection of movies below</h3> 

	<% @movies.each do |movie| %>
	<div class="filmlist"><span class="title"><%=link_to movie.title, movie_path(movie.id)%></span>
		<div class="filmyear"><%= movie.year_released%></div>
		<div><%= movie.description %></div>
	</div>
	<% end %>
