<!-- <img src="/images/hero_bored_meeting2.jpg" alt="bored meeting"> -->

<div class="row">
	<div class="img-rounded" id="section_hero">
		<div class="row">
			<div id="maintitle">
				<span id="title1">Blabbering</span>
				<span id="title2">the game</span>
			</div>
		</div>
		<div class="row">
			<%= link_to new_game_path do %>
				<span id="calltoaction" class="btn"><h4>Start Game</h4></span>
				<% end %>
		</div>
	</div>
</div>

<div class="separator"></div>  

<div class="row">
	<div class="col-md-6">
		<a class="twitter-timeline" href="https://twitter.com/Blabberingapp" data-widget-id="502619059167322112">Tweets by @Blabberingapp</a>

	</div>
	<div class="col-md-6">
			<!-- SOMETHING CAN GO IN RIGHT HOMEPAGE -->
	</div>
</div>



