<%= render 'authentications/auths' %>
Prefer to not use one of these services? <%= link_to "Sign up", new_user_registration_path%> or 
<%= link_to "Sign in", new_user_session_path%></li> with a password.
 <div class="clearfix"></br></div>